header{
  background-image:url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
  background-size:cover;
  background-position:center top;
  color:#ffffff;
  text-align:center;
  padding:1%;
  margin:1%;
  font-size:x-large;
}
nav{
  padding:2%;
}
nav>a{
  padding:0.5% 1%;
  margin:5%;
  font-size:x-large;
  background-color:rgba(255,255,255,0.3);
  text-decoration:none;
  color:black;
}
.active{
  background-color:rgba(255,255,255,0.8);
}
a:hover{
  background-color:rgba(255,255,255,0.9);
}
.left{
  background-color:#cce0ff;
  float:left;
  width:30%;
  padding:1%;
  margin:1%;
  margin-right:2%;
  margin-top:0%;
}
img{
  width:88%;
  display:inline;
  border:3px solid black;
  margin:4%;
  margin-bottom:6%;
  margin-top:6%;
  padding:.5%;
}
.right{
  padding:1%;
  margin:1%;
  font-size:x-large;
}
table{
  font-family:sans-serif;
  padding:1% 5%;
}
td{
  line-height:50px;
  opacity:.8;
  background-color:#b3d1ff;
  text-align:center;
  padding:0px 5px 0px 5px;
}
td:hover{
  background-color:#99c2ff;
  opacity:1;
}
td:first-child{
  text-align:left;
}
th{
  opacity:.8;
  font-size:x-large;
  border-radius:5px 5px 0px 0px;
  background-color:#005ce6;
  line-height:60px;
  border-bottom:5px solid #003380;
  color:white;
}
th:hover{
  background-color:#0047b3;
  opacity:1;
}
