header{
  background-image:url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
  background-size:cover;
  background-position:center top;
  color:#ffffff;
  text-align:center;
  padding:1%;
  margin:1%;
  font-size:x-large;
}
nav{
  padding:2%;
}
nav>a{
  padding:0.5% 1%;
  margin:5%;
  font-size:x-large;
  background-color:rgba(255,255,255,0.3);
  text-decoration:none;
  color:black;
}
.active{
  background-color:rgba(255,255,255,0.8);
}
a:hover{
  background-color:rgba(255,255,255,0.9);
}
.left{
  background-color:pink;
  float:left;
  width:450px;
  padding:1%;
  margin:1%;
  margin-right:2%;
  margin-top:0%;
}
img{
  width:400px;
  display:inline;
  border:3px solid black;
  margin:20px;
}
.right{
  padding:1%;
  margin:1%;
  font-size:medium;
}
